#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
    require-prior-idle-ms = <10>;
};

&mt {
    tapping-term-ms = <250>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        b {
            bindings = <&kp B>;
            key-positions = <42 43>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <38 39>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <39 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&mt ESC TILDE  &kp N1  &kp N2          &kp N3              &kp N4            &kp N5    &kp N6         &kp N7             &kp N8              &kp N9           &kp N0     &kp MINUS
&kp TAB        &kp Q   &kp W           &kp E               &kp R             &kp T     &kp Y          &kp U              &kp I               &kp O            &kp P      &kp EQUAL
&kp LSHFT      &kp A   &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G     &kp H          &mt RIGHT_SHIFT J  &mt LEFT_CONTROL K  &mt RIGHT_ALT L  &kp SEMI   &kp APOS
&kp LCTRL      &kp Z   &kp X           &kp C               &kp V             &kp B     &kp N          &lt 2 M            &lt 3 COMMA         &lt 4 PERIOD     &kp SLASH  &kp DELETE
                                       &lt 1 LEFT_GUI      &kp SPACE         &mo 6     &kp BACKSPACE  &lt 6 ENTER
                                                           &kp LEFT_ALT      &tog 5    &tog 7
            >;
        };

        layer_1 {
            bindings = <
&none         &none  &none          &none      &none      &none                &none  &none               &none               &kp LEFT_BRACKET     &kp RIGHT_BRACKET  &kp PRINTSCREEN
&kp C_VOL_UP  &none  &none          &kp UP     &none      &none                &none  &none               &kp LG(UP_ARROW)    &none                &none              &none
&kp C_VOL_DN  &none  &kp LEFT       &kp DOWN   &kp RIGHT  &none                &none  &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT_ARROW)  &none              &none
&kp K_MUTE    &none  &kp LC(LS(T))  &kp LC(W)  &kp LC(T)  &kp LG(LS(RIGHT))    &none  &mkp MB5            &mkp MB4            &none                &none              &kp LA(F4)
                                    &none      &none      &none                &none  &none
                                               &none      &none                &none
            >;
        };

        Mouse {
            bindings = <
&none  &none  &none      &none      &none      &none    &none  &none  &none  &none  &none  &none
&none  &none  &none      &none      &none      &none    &none  &none  &none  &none  &none  &none
&none  &none  &none      &none      &none      &none    &none  &none  &none  &none  &none  &none
&none  &none  &mkp RCLK  &mkp MCLK  &mkp LCLK  &none    &none  &none  &none  &none  &none  &none
                         &none      &none      &none    &none  &none
                                    &none      &none    &none
            >;
        };

        Scroll {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none
                            &none  &none    &none
            >;
        };

        Snipe {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none
                            &none  &none    &none
            >;
        };

        game_1 {
            bindings = <
&kp ESC           &none           &kp N1  &kp N2  &kp N3        &kp N4    &none     &none        &none  &none  &none  &none
&none             &kp TAB         &kp Q   &kp W   &kp E         &kp R     &kp Y     &kp U        &kp I  &kp O  &kp P  &none
&kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp A   &kp S   &kp D         &kp F     &kp H     &kp J        &kp K  &kp L  &none  &none
&none             &kp Z           &kp X   &kp C   &kp V         &kp B     &kp N     &kp M        &none  &none  &none  &kp LA(F4)
                                          &kt T   &kp SPACE     &mo 6     &kp LEFT  &lt 6 ENTER
                                                  &kp LEFT_ALT  &tog 5    &tog 5
            >;
        };

        layer_f {
            bindings = <
&kp ESC    &kp F1  &kp F2  &kp F3    &kp F4     &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&kp TAB    &kp Q   &kp W   &kp E     &kp R      &kp T     &kp Y   &kp U   &kp I   &kp O   &kp P    &kp F12
&kp LSHFT  &kp A   &kp S   &kp D     &kp F      &kp G     &kp H   &kp J   &kp K   &kp L   &none    &none
&kp LCTRL  &kp Z   &kp X   &kp C     &kp V      &kp B     &kp N   &kp M   &none   &none   &none    &none
                           &kp LGUI  &kp SPACE  &none     &none   &none
                                     &kp LALT   &none     &none
            >;
        };

        layer_H {
            bindings = <
&none  &none  &none  &none      &none      &none        &none   &none  &none  &none  &none  &none
&none  &none  &none  &none      &none      &none        &none   &none  &none  &none  &none  &none
&none  &none  &none  &none      &none      &none        &none   &none  &none  &none  &none  &none
&none  &none  &none  &none      &none      &none        &none   &none  &none  &none  &none  &none
                     &kp SPACE  &kp ENTER  &kp ESC      &none   &none
                                &kp LEFT   &kp RIGHT    &tog 7
            >;
        };
    };
};
